<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<p>
  Coding for the win!
    def get_middle(s)
      s[(s.size-1)/2..s.size/2]
    end

    def find_short(s)
      s.split.map(&:size).min
    end

    def getCount(inputStr)
      inputStr.scan(/[aiueo]/).count
    end

    def rps(p1, p2)
      winmap = { ‘scissors’ => ‘paper’, ‘paper’ => ‘rock’, ‘rock => ’scissors’ }

    If p1 == p2
      ‘Draw!’
     elsif winmap[p1] == p2
      ‘Player 1 won!’
     else
      ‘Player 2 won!’
    End
    End
</p>
